* {
    margin: 0;
    padding: 0;
    border:0;
}

html, body {
    height: 100%;
    width: 100%;
}

.our-block {
    display: inline-block;
    height: 150px;
    width: 33.333%;
}

.div1 {
    background: #b6471b;
}
.div2 {
    background: #b61b7d;
}
.div3 {
    background: #1bb68a;
}

@media only screen and (max-width: 600px) {
    .our-block {
        width: 100%;
    }
}


/* GRID: */

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
            'header header header header header header'
            'menu main main main right right'
            'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}


@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-areas:
                'header header'
                'main right'
                'menu menu'
                'footer footer';
    }
}
