* {
    margin: 0;
    padding: 0;
    border:0;
}

html, body {
    height: 100%;
    width: 100%;
}

div#my-id-1.first-div > div.class-1.class-2 h3 {
    background: #14bcd9;
}

.div1 + .div2 {
    background: green;
}

[class^="some"] /* => .some-h3 */ {
    background: #14bcd9;
}

[class="some-h3"]:hover {
    background: #b6471b;
}

input {
    border: 1px solid #000;
}

input:focus {
    background: #801bb6;
}



.inner-div {
    background: #a8980b;
}

div.outer-div:hover .inner-div {
    background: green;
}

.a-123:first-child {
    background: red;
}

.a-123:nth-child(odd) {
    background: #a8980b;
}

.a-123:nth-child(3n+0) {
    background: #0ba896;
}

.a-123:last-child {
    background: green;
}


.bg-red:not(.not-bg) {
    background: red;
}

.pointer {
    cursor: pointer;
}

.flex-container {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: center;
    background-color: DodgerBlue;
}

.flex-container > div:first-child {
    background: gold !important;
}

.flex-container > div#first-child-1:first-child {
    background: chocolate;
}

.flex-container > div:last-child {
    background: green;
}

.flex-container > div {
    background-color: #b85353;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}






