* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Heebo', sans-serif;
    direction: rtl;
    text-align: right;
    background-image: url("https://www.publicdomainpictures.net/pictures/310000/velka/bokeh-lights-background-1574745561Rqp.jpg");
}

header {
    padding: 180px 0 0 0;
}

header h1 {
    text-align: center;
    color: white;
    background: #0000006b;
}

#container {
    margin: 0 auto;
    width: 380px;
    background: white;
}

footer {
    display: block;
    background: black;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .footer-container {
    position: relative;
    width: 100%;
    height: 100%;
}

footer .footer-column {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    text-align: center;
}

footer .footer-item {
    display: block;
    width: 100%;
}

footer .footer-item .img-logo {
    width: 60px;
    height: auto;
}




